/* Entire document */

body {
    margin: 0px auto;
    width: 960px;
    background-color: rgb(159, 140, 222);
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; 
    color: black;
}
/* header */
header{
    height: 250px;
}

header>h1{
    margin: 10px;
    text-align: center;
    color: purple
}

header>nav {
    float: right;
    margin-top: 100px;
    margin-left: 100 px;
}

 header>nav>ul>li{
     display: inline-block;
     width: 100px;
     border-radius: 25px;
     background-color: rgb(102,255,154);
     margin: 2px;
     text-align: center;
     border: 1px solid black;
 }

 header>h2{
    margin: 10px;
    text-align: left; 
    color: purple
 }
/* main */

main>section{
    border: 3px solid black;
    margin-bottom: 5px;
    border-radius: 15px;
    background: pink
    }

/* footer */